<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/title-icon.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>About Me</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was built by {{name}}. It uses data from mapbox.com and weatherstack.com !</p>
        <img src="./img/me.jpg" class="potrait" />
    </div>
    {{>footer}}
</body>

</html>